<!-- start headers elements -->

<!-- add styles in header for transparent header on desktop -->
<style>
	/* @media (min-width: $md2+px) {
		&:hover {
			background-color: $colorLight;
		}
		&._hover {
			background-color: $colorLight;
		}
	}
	@media (max-width: $md2+px) {
		background-color: $colorLight;
	} */
</style>

<!-- scale search in activities -->
<div class="header__activities activities">
	<div class="activities__body">
		<a class="_icon-search" href="#"></a>
		<div class="header__search search" hidden>
			<div class="search__body _icon-search">
				<input type="text" class="search__input" placeholder="Поиск по товарам" />
			</div>
		</div>
		<a class="_icon-basket" href="#"></a>
		<a class="_icon-login" href="#"></a>
	</div>
</div>

<style>
	/* .activities {
	position: relative;
	flex-grow: 1;
	&__body {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		& a {
			font-size: (34/25) + em;
			line-height: 1;
			@media (min-width: $md1+px) {
				margin-right: 53px;
			}
			@media (min-width: $md2+px) {
				margin-right: 40px;
			}
			@media (min-width: $md3+px) {
				margin-right: 60px;
			}
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.search {
	@media (min-width: $md1+px) {
		width: 1240px;
	}
	@media (min-width: $md2+px) {
		width: 880px;
	}
	margin-right: 25px;
	@media (max-width: $md2+px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		padding-top: 40px;
		background-color: $colorLight;
	}
	&__body {
		display: flex;
		align-items: center;
		@media (min-width: $md1+px) {
			min-height: 59px;
		}
		@media (min-width: $md2+px) {
			min-height: 42px;
		}
		@media (min-width: $md3+px) {
			min-height: 70px;
		}
		min-height: 30px;
		padding-left: 30px;
		border-radius: 30px;
		transition: box-shadow 0.2s ease;
		@media (max-width: $md2+px) {
			margin: 0 20px;
		}
		&._focus {
			box-shadow: 0px 0px 20px #{$colorTextLight + '40'};
		}
		&::before {
			font-size: 31/25 + em;
			color: $colorTextLight;
		}
	}

	&__input {
		color: $colorText;
		font-size: 20/25 + em;
		line-height: calc(26 / 20);
		flex-grow: 1;
		margin-left: 20px;
		&::placeholder {
			color: $colorTextLight;
		}
	}
} */
</style>

<!-- end -->
