<article class="photogallery _section">
	<div class="photogallery__container _container">
		<h2 class="photogallery__title _title">Фотогаллерея</h2>
		<div class="photogallery__slider _gallery swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide photogallery__slide photogallery__slide--big">
					<a href="img/.jpg" class="photogallery__item photogallery__item--big"><img src="img/.jpg" alt="" /></a>
				</div>
				<div class="swiper-slide photogallery__slide">
					<a href="img/.jpg" class="photogallery__item"><img src="img/.jpg" alt="" /></a>
					<a href="img/.jpg" class="photogallery__item"><img src="img/.jpg" alt="" /></a>
				</div>
				<div class="swiper-slide photogallery__slide photogallery__slide--big">
					<a href="img/.jpg" class="photogallery__item photogallery__item--big"><img src="img/.jpg" alt="" /></a>
				</div>
				<div class="swiper-slide photogallery__slide">
					<a href="img/.jpg" class="photogallery__item"><img src="img/.jpg" alt="" /></a>
					<a href="img/.jpg" class="photogallery__item"><img src="img/.jpg" alt="" /></a>
				</div>
				<div class="swiper-slide photogallery__slide photogallery__slide--big">
					<a href="img/.jpg" class="photogallery__item photogallery__item--big"><img src="img/.jpg" alt="" /></a>
				</div>
				<div class="swiper-slide photogallery__slide">
					<a href="img/.jpg" class="photogallery__item"><img src="img/.jpg" alt="" /></a>
					<a href="img/.jpg" class="photogallery__item"><img src="img/.jpg" alt="" /></a>
				</div>
				<div class="swiper-slide photogallery__slide photogallery__slide--big">
					<a href="img/.jpg" class="photogallery__item photogallery__item--big"><img src="img/.jpg" alt="" /></a>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</article>
