<article class="popup">
	<div class="popup__container _container">
		<div class="popup__body">
			<form id="formPopMassage" class="form" action="#">
				<input class="form__input _req" id="formPopupNameMassage" name="formPopupNameMassage" type="text" placeholder="Имя" />
				<input class="form__input _req _phone" id="formPopupTelMassage" name="formPopupTelMassage" type="tel" placeholder="Телефон" />
				<textarea class="form__textarea" id="formPopupTextMassage" name="formPopupTextMassage" type="text" placeholder="Хотите записаться? Или есть вопрос?"></textarea>
				<button type="submit" class="form__button _button _button--main">Отправить</button>
				<input class="form__checkbox _req" id="formPopupCheckboxMassage" type="checkbox" checked />
				<label class="form__agreement _label" for="formPopupCheckboxMassage"><span class="custom__checkbox"></span> Я согласен на обработку своих персональных данных</label>
			</form>
			<span class="popup__close _cross"></span>
		</div>
	</div>
</article>
<article class="loading"></article>
