<article class="imageText">
	<div class="imageText__container imageText__container--leftImage _container">
		<div class="imageText__photo">
			<img src="img/.jpg" alt="" />
		</div>
		<div class="imageText__description">
			<h2 class="imageText__title _title">Заголовок</h2>
			<p class="imageText__text">Текст...</p>
		</div>
	</div>
</article>

<article class="imageText">
	<div class="imageText__container imageText__container--rightImage _container">
		<div class="imageText__description imageText__description--absolute">
			<h2 class="imageText__title _title">Заголовок</h2>
			<p class="imageText__text">Текст...</p>
		</div>
		<div class="imageText__photo imageText__photo--wide">
			<img src="img/.jpg" alt="" />
		</div>
	</div>
</article>
