.prev-arrow,
.next-arrow {
	z-index: 10;
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	width: 14px;
	height: 14px;
	&::after,
	&::before,
	& span {
		position: absolute;
		content: '';
		height: 2px;
		border-radius: 2px;
		background-color: $colorMain;
	}
	&.swiper-button-disabled {
		cursor: auto;
		pointer-events: none;
		&::after,
		&::before,
		& span {
			background-color: $colorTextLight;
		}
	}
}

.prev-arrow {
	left: calc(50% - 70px);
	&::before {
		top: 3px;
		left: -4px;
		width: 10px;
		transform: rotate(-45deg);
	}
	&::after {
		bottom: 3px;
		left: -4px;
		width: 10px;
		transform: rotate(45deg);
	}
	& span {
		top: 6px;
		width: 14px;
	}
}
.next-arrow {
	right: calc(50% - 70px);
	&::before {
		top: 3px;
		right: -4px;
		width: 10px;
		transform: rotate(45deg);
	}
	&::after {
		bottom: 3px;
		right: -4px;
		width: 10px;
		transform: rotate(-45deg);
	}
	& span {
		top: 6px;
		width: 14px;
	}
}
