<article class="big-slider">
	<div class="big-slider__swiper _simpleSlider swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img style="object-position: bottom" src="img/.jpg" alt="" /></div>
			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>
			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>
		</div>
	</div>
</article>

<article class="big-slider">
	<div class="big-slider__swiper _thumbsSlider swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>
			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>

			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>

			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>

			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>
		</div>
	</div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<div class="_miniThumbsSlider swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>
			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>

			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>

			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>

			<div class="swiper-slide"><img src="img/.jpg" alt="" /></div>
		</div>
	</div>
</article>
