.squaresGallery {
	&__container {
		display: grid;
		@media (min-width: $md1+px) {
			grid-template-columns: repeat(5, 1fr);
		}
		@media (min-width: $md2+px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md3+px) {
			grid-template-columns: repeat(3, 1fr);
		}
		grid-template-columns: repeat(2, 1fr);
	}
	&__outForFormat {
		@media (min-width: $md1+px) {
			display: none;
		}
	}
	& a {
		transition: all 0.2s ease-out;
		width: 100%;
		&:hover {
			transition: all 0.5s ease-in;
			transform: scale(1.1);
			box-shadow: 0 0 20px $colorSecond;
		}
	}
	& img {
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
	}
}
