* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
*:focus,
*:active {
	outline: none;
}
a {
	transition: color 0.3s ease-out;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	&:hover,
	&:active {
		color: $colorMainHover;
	}
}
aside,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: #{$minWidth + px};
}
body {
	font-family: $fontFamily;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;
