<form id="formMassage" class="form" action="#">
	<input class="form__input _req" id="formNameMassage" name="formNameMassage" type="text" placeholder="Имя" />
	<input class="form__input _req _phone" id="formTelMassage" name="formTelMassage" type="tel" placeholder="Телефон" />
	<textarea class="form__textarea" id="formTextMassage" name="formTextMassage" type="text" placeholder="Хотите записаться? Или есть вопрос?"></textarea>
	<button type="submit" class="form__button _button _button--main">Отправить</button>
	<input class="form__checkbox _req" id="formCheckboxMassage" type="checkbox" checked />
	<label class="form__agreement _label" for="formCheckboxMassage"><span class="custom__checkbox"></span> Я согласен на обработку своих персональных данных</label>
</form>
